
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* 
    orange: #F58229;
    dark-blue: #0D265F;
    light-gray: #B3B3B3;
    body: #e4e3ee;
*/

/* Default buttons */
.btnCustom {
    position: relative;
    background-color: #FFFFFF;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 5px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btnCustom:after {
    content: "";
    background: #FFFFFF;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btnCustom:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  /* Navbar on scroll */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.95;
    backdrop-filter: blur(100px);
}
.sticky + .content {
    padding-top: 60px;
}
.custom-tooltip {
    --bs-tooltip-bg: #F58229;
}


body{
    background-color: #e4e3ee;
}
header{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #0D265F;
}
.header-item{
    margin-top: 13px;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li a:hover{
    text-decoration: underline;
    color: #F58229;
    background-color: transparent;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 30px;
}
.header-contacts{
    display: flex;
    padding: 0 20px;
    list-style: none;
}
li.header-contact-item {
    margin: 0 20px;
}
.header-socials{
    display: flex;
    list-style: none;
}
li.header-social-item {
    margin: 0 15px;
}
li.header-social-item:hover{
    transform: translateY(-2px);
    transition: 0.25s;
}
#logo{
    height: 50px;
    width: 60px;
}
.navbar{
    background-color: #fff;
}
/* .nav-link{
    font-size: 20px;
} */
.nav-link:hover{
    text-decoration: none;
}
.sec-intro{
    display: flex;
    background-image: url(../img/parking-image-Copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin: 3em 0;
    color: #4b5055;
    align-items: center;
}
.sec-intro-greet{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    align-items: flex-start;
}
.sec-intro-greet h1{
    font-size: 3.5em;
    color: #4b5055;
}
.section2, .section4{
    background-color: transparent;
    text-align: center;
    margin: 50px auto;
    width: 100%;
}
.section2-content, .section4-content{
    font-size: 30px;
    color: #4b5055;
}
.section3{
    background-color: #fff;
    width: 100%;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    color: #4b5055;
}
.sec3-content h2{
    letter-spacing: 0.2em;
    font-weight: 900;
}
.sec3-content p{
    letter-spacing: 0.1em;
}
.sec3-content .sec3-icons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.icons{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
}
.icons i{
    background-color: #0D265F;
    padding: 20px;
    color: #fff;
    font-size: 4em;
    border-radius: 50%;
    margin: auto;
    height: 2em;
    width: 2em;
    
}
.sec3-icon1 i{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.sec3-icon1 h5{
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}
.section5{
    background-color: #fff;
    width: 100%;
}
.sub-section{
    text-align: center;
    padding: 50px;
    color: #4b5055;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.sub-section h4{
    font-weight: bold;
    font-size: 3em;
}
#sub-email{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #0D265F;
    width: 30%;
    text-align: center;
}
#btn-sub{
    background-color: #fff;
    color: #0D265F;
    border: 2px solid #0D265F;
}
#btn-sub:hover{
    background-color: #0D265F;
    color: #fff;
    border: 2px solid #0D265F;
}
.section6{
    background-color: #0D265F;
}
.goToContact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.goToContact .contactText{
    color: #fff;
}
#btnContact{
    background-color: #fff;
    color: #0D265F;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
#btnContact:after {
    content: "";
    background: #1e4091;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
#btnContact:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.swal-button--confirm {
    background: #0D265F;
    border: 2px solid #0D265F;
}
.swal-button:not([disabled]):hover {
    background-color: #fff;
    color: #0D265F;
    border: 2px inset #0D265F;
}
#login{
    cursor: pointer;
}
#registerBtn{
    cursor: pointer;
    color: #0d6efd;
}
#registerBtn:hover{
    text-decoration: underline;
}